body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#lower {
  background: darkturquoise;
  background: radial-gradient(ellipse at top, darkturquoise, transparent),
    radial-gradient(ellipse at left, darkturquoise, transparent),
    radial-gradient(ellipse at bottom, darkblue, transparent),
    radial-gradient(ellipse at right, darkblue, transparent);

}

.fado{
  -moz-animation: fade1m 2s;
  -webkit-animation: fade1w 2s;
  animation: fade1 2s;
}

@keyframes fade1 {
  from {
    transform: rotateZ(180deg);
    transform-origin: top left;
  }
  to{
    transform: rotateZ(0deg);
    transform-origin: top left;
  }
}

@-moz-keyframes fade1m {
  from {
    -moz-transform: rotateZ(180deg);
    -moz-transform-origin: top left;
  }
  to {
    -moz-transform: rotateZ(0deg);
    -moz-transform-origin: top left;
  }
}

@-webkit-keyframes fade1w {
  from {
    -webkit-transform: rotateZ(180deg);
    -webkit-transform-origin: top left;
  }
  to {
    -webkit-transform: rotateZ(0deg);
    -webkit-transform-origin: top left;
  }
}