body {
  margin: 0;
  height: 100%;
  min-height: 100vh;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#lower {
  background: darkturquoise;
  background: radial-gradient(ellipse at top, darkturquoise, transparent),
    radial-gradient(ellipse at left, darkturquoise, transparent),
    radial-gradient(ellipse at bottom, darkblue, transparent),
    radial-gradient(ellipse at right, darkblue, transparent);
}

.fado {
  animation: fade1 1500ms ease-out;
}

@keyframes fade1 {
  0% {
    opacity: 0;
    transform: translateX(-30rem);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

